/* mixins + vars */

@import './_variables.sass'
@import './_mixins.sass'

/* nav  + logo + footer */

@import './_navBtn.sass'
@import './_openedNav.sass'
@import './_logo.sass'
@import './_footer.sass'
/* start page */

@import './StartStyles/_partnership.sass'
@import './StartStyles/_home.sass'
@import './StartStyles/_offer.sass'
@import './StartStyles/_startPage.sass'

.fade-enter
  transform: translateX(-40%)
  opacity: 0
  z-index: 1


.fade-enter.fade-enter-active
  transform: translateX(0)
  opacity: 1
  transition: .5s .7s linear


.fade-exit
  transform: translateX(0)
  opacity: 1
  z-index: 1


.fade-exit.fade-exit-active
  transform: translateX(40%)
  opacity: 0
  transition: .5s linear


*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 10px
  font-family: sans-serif

.firstLetter
  color: #5f88c1
