.fade-enter
  transform: translateX(-40%)
  opacity: 0
  z-index: 1


.fade-enter.fade-enter-active
  transform: translateX(0)
  opacity: 1
  transition: .5s .7s linear

.fade-exit
  transform: translateX(0)
  opacity: 1
  z-index: 1


.fade-exit.fade-exit-active
  transform: translateX(40%)
  opacity: 0
  transition: .5s linear


*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 10px
  font-family: sans-serif
  overflow-x: hidden



.firstLetter
  color: #5f88c1

/* scroll style */

::-webkit-scrollbar
  width: 10px

::-webkit-scrollbar-track
  background: #f1f1f1

::-webkit-scrollbar-thumb
  background: #888
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background: #555



/* mixins + vars */

@import './_variables.sass'
@import './_mixins.sass'

/* nav  + logo + footer */

@import './_navBtn.sass'
@import './_openedNav.sass'
@import './_logo.sass'
@import './_footer.sass'

/* nav desktop */

@import './_navBtnDesk.sass'

/* start page */

@import './StartStyles/_partnership.sass'
@import './StartStyles/_home.sass'
@import './StartStyles/_offer.sass'
@import './StartStyles/_startPage.sass'

/* test pages */

@import './test_styles/_aboutPage.sass'
@import './test_styles/_contactPage.sass'
@import './test_styles/_galleryPage.sass'

/* media */

@import './_media.sass'


