.offer
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    height: 920px
    // margin-top: 5vh
    .title
        font-size: 3rem
        transform: translateX(50%)
        opacity: 0
        transition: 1s
    .title.active
        opacity: 1
        transform: translateY(0)
    & .priceList
        margin-top: 5vh
        width: 95%
        display: flex
        & .service
            width: 75%
            display: grid
            grid-template-columns: 100%
            grid-template-rows: repeat(28,30px)
            & p:nth-of-type(odd)
                background-color: lightgray
                padding-left: 5px
        & .price
            flex-grow: 1
            text-align: center
            display: grid
            grid-template-columns: 100%
            grid-template-rows: repeat(10,30px)
            & p
                justify-content: center
                &:nth-of-type(odd)
                    background-color: lightgray
        & h2
            font-size: 2rem
        & p
            font-size: 1.2rem
            display: flex
            align-items: center