.offer
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    height: 1200px
    // margin-top: 5vh
    .title
        text-transform: uppercase
        font-size: $font-sizeTitle
        transform: translateX(50%)
        opacity: 0
        transition: 1s
    .title.active
        opacity: 1
        transform: translateY(0)
    & .priceList
        margin-top: 5vh
        width: $width-section
        display: flex
        & .service
            width: 75%
            display: grid
            grid-template-columns: 100%
            grid-template-rows: repeat(28,40px)
            & p
                padding-left: 5px
            & p:nth-of-type(odd)
                background-color: lightgray
        & .price
            flex-grow: 1
            text-align: center
            display: grid
            grid-template-columns: 100%
            grid-template-rows: repeat(10,40px)
            & p
                justify-content: center
                &:nth-of-type(odd)
                    background-color: lightgray
        & h2
            font-size: $font-sizeSubtitle
        & p
            font-size: $font-sizeContent
            display: flex
            align-items: center