.contactPage
    position: absolute
    width: 100%
    +flexColumnAround()
    justify-content: flex-start
    overflow: hidden
    .contactSection
        height: 100vh
        .title
            font-size: $font-sizeTitle
            margin-top: $space-components