.contactPage
    position: absolute
    width: 100%
    overflow: hidden
    .contactSection
        width: 100%
        +flexColumnAround()
        justify-content: flex-start
        .subtitle
            font-size: $font-sizeSubtitle
            margin-top: $space-content
            text-align: center
        .title
            font-size: $font-sizeTitle
            margin-top: $space-components
        .contactTypes
            width: $width-section
            .telephoneNumer
                font-size: $font-sizeMedium
                margin: $space-inner 0 $space-inner 0
                text-align: center
                i
                    margin-right: $space-inner
            aside
                text-align: center
                font-size: $font-sizeContent
                span
                    text-transform: uppercase
                    font-size: $font-sizeMedium
                    color: red
    form
        +flexColumnAround()
        width: $width-section
        font-size: $font-sizeContent
        label
            width: 100%
            input
                height: 30px
                width: 100%
                font-size: $font-sizeContent
                border: 1px solid black
                padding: 0 5px 0 5px
            p
                text-align: center
                font-weight: bold
                margin: $space-inner 0 $space-inner 0
            textarea
                height: 100px
                width: 100%
                border: 1px solid black
                padding: 5px
        button
            width: 150px
            height: 30px
            margin: $space-inner 0 $space-inner 0
            background-color: transparent
            border: 1px solid black
            border-radius: 35px
            text-transform: uppercase
            font-weight: bold
            color: #5f88c1
        aside
            padding-left: 5px
            border-left: 3px solid #5f88c1